{% extends 'base.html' %}
{% block page_title %}
  <div class="container flex items-center justify-center mb-4">
    <div class="w-3/4">
      <h2 class="text-5xl font-bold font-karma mb-4">{{ post.title }}</h2>
      <div class="flex items-center mb-3">
        <img class="w-10 h-10 rounded-full mr-4 border" src="/img/jonathan.jpg" alt="Avatar of Jonathan Reinink" />
        <div class="text-sm">
          <p class="text-gray-900 leading-none">{{ request.user.username }}</p>
          <p class="text-gray-600">{{ post.created_on.date }}</p>
        </div>
      </div>
      <div>
        {% for category in post.categories.all %}
          <span class="mb-4 inline-flex items-center justify-center rounded-full bg-blue-50 px-4 py-2 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10"><a href="{% url 'blog_category' category.name %}">{{ category.name }}</a></span>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block page_content %}
  <div class="container flex items-center justify-center mb-4">
    <div class="w-3/4 border">
      <img src="{{ item.image.url }}" alt="" srcset="" />
      <div>
        <p class="font-karma">{{ post.body|safe }}</p>
      </div>
      <div>
        <h2 class="pt-3 pb-2 text-gray-800 text-lg font-bold">Comments</h2>
        {% for comment in comments %}
          <div class="mb-2">
            <div class="flex items-center mb-3 my-auto">
              <img class="w-10 h-10 rounded-full mr-4" src="/img/jonathan.jpg" alt="Avatar of Jonathan Reinink" />
              <div class="text-sm">
                <p class="text-gray-900 font-kanit font-bold">{{ comment.author }}</p>
                <p class="text-gray-600 font-karma">{{ post.created_on.date }}</p>
              </div>
            </div>
            <div class="px-12">
              <p class="font-bold font-karma">{{ comment.body }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="mt-8 max-w-lg mb-4">
        <form method="post" class="w-full">
          {% csrf_token %}
          <h2 class="pt-3 pb-2 text-gray-800 text-lg font-bold">Add a new comment</h2>
          <div class="w-full mb-2 mt-2">{{ form.body }}</div>
          <div class="w-full flex items-start">
            <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" value="Post Comment" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
